@model Car

<div class="col-lg-4">
    <img class ="img-thumbnail" src="@Model.img" alt="@Model.name"/>
    <h2>@Model.name</h2>
    <p>@Model.shortDesc</p>
    <h6>Ціна: @Model.price.ToString("C")</h6>
    <p><a class="btn btn-warning" href="https://localhost:44370/ShopCart/Index">Детальніше</a></p>
</div>