
    <h1>Автомобілі в наявності</h1>
    <h3>@Model.CurrCategory</h3>
    <div class ="row mt-5 mb-2">
    @{
        foreach (var car in Model.allCars)
        {
            <div class="col-lg-4">
                <img class ="img-thumbnail" src="@car.img" alt="@car.name"/>
                <h2>@car.name</h2>
                <p>@car.shortDesc</p>
                <p>Ціна: @car.price.ToString("C")</p>
                <p><a class="btn btn-warning" href = "#">Детальніше</a></p>
            </div>
        }
    }
    </div>